/* put in here things that effect everything */


.logo {
  padding-top: 30;
  padding-bottom: 20;
  min-width: 37%;
  max-width: 100%;
}
.portfolio {
  margin-bottom: 80;
  max-width: 100%;
}
.work {
  margin: 40px 0px 80px;
  text-align: center;
  display: list-item;
}
.container {
  max-width: 1366px;
  position: relative;
  text-align: center;
  display: inline;
}
.work-item {
  width: 520px;
  max-width: 70%;
  margin: 10px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.htmlstyle {
  text-decoration: none;
}
.fadeintext {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -210px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container:hover .work-item {
  opacity: 0.2;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.container:hover .fadeintext {
  opacity: 1;
}
.imagetitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 32, 32);
}
.imagesubheading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  letter-spacing: 20px;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 32, 32);

}

/* other pages */

.secondrywork {
  text-align: center;
  padding-bottom: 150px;
}
.secondrywork-item {
  width: 650px;
  max-width: 70%;
  margin: 10px;
}
.main {
  display: inline-grid;
}
.titleimage {
  width: 546px;
  max-width: 70%;
  float: right;
  margin-right: 57px;
  position: relative;
  z-index: 1;
}
.pagetext {
  margin-bottom: 60;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.8;
  position: relative;
  z-index: 2;
  float: left;
}

/* mdeia queries */

/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .secondrywork {
    margin-top: 766px;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 376px) {
  .secondrywork {
    margin-top: 640px;
  }
}
/* If screen size is 768px wide or less */
@media screen and (max-width: 768px) {
  .secondarywork {
    margin-top: 685px;
  }
}
/* If screen size is more than 769px wide, or more*/
@media screen and (min-width: 768px) {
  .secondrywork {
    margin-top: 482px;
  }
}
/* If screen size is 1366px wide or less */
@media screen and (max-width: 1366px) {
  .secondarywork {
    margin-top: 400px;
  }
}
/* If screen size is more than 1366px wide, or more*/
@media screen and (min-width: 1366px) {
  .secondrywork {
    margin-top: 400px;
  }
}
/* If screen size is more than 375px wide, or more*/
@media screen and (min-width: 375px) {
  .pagetext {
    padding: 33px 40px 40px 52px;
  }
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .pagetext {
    padding: 33px 40px 40px 52px;
  }
}
/* If screen size is more than 768px wide, or more*/
@media screen and (min-width: 768px) {
  .pagetext {
    padding: 33px 87px 40px 87px;
  }
}
/* If screen size is more than 1366px wide, or more*/
@media screen and (min-width: 1366px) {
  .pagetext {
    padding: 33px 720px 40px 87px;
  }
}
/* If screen size is 768px wide, or less */
@media screen and (max-width: 768px) {
  .titleimage {
   margin-right: 57px;
   margin-top: -77px;
  }
}
/* If screen size is more than 768px wide, or more*/
@media screen and (min-width: 768px) {
  .titleimage {
    margin-right: 114px;
    margin-top: -77px;
  }
}
/* If screen size is more than 1366px wide, or more*/
@media screen and (min-width: 1366px) {
  .titleimage {
    margin-right: 75px;
    margin-top: -518px;
  }
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .fadeintext {
    top: -100px
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 376px) {
  .fadeintext {
    top: -211px
  }
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 376px) {
  .heading, .subheading {
    text-align: center;
    letter-spacing: 12px;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 377px) {
  .subheading {
    text-align: left;
    letter-spacing: 20px;
    padding: 0px 50px 0px 87px;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 377px) {
  .heading {
    text-align: left;
    letter-spacing: 11px;
    padding: 0px 50px 0px 87px;
  }
}


/* contact page */

.contacttext {
  white-space: pre-line;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}
.maps {
  width: 600;
  height: 450;
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .maps {
    max-width: 95%;
    padding-left: 5%;
    margin-bottom: 150px;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 376px) {
  .maps {
    max-width: 66%;
  }
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .contacttext {
    margin: 30px auto;
    text-align: center;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 376px) {
  .contacttext {
    
  }
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .contactelements {
    display: inline-block;
    position: sticky;
    justify-content: center;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 376px) {
  .contactelements {
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 150px;
  margin-left: 20px;
  margin-right: 20px;
  }
}


/* about page */

.abouttext {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  margin-bottom: 200px;
  line-height: 1.6;
}
/* If screen size is 375px wide, or less */
@media screen and (max-width: 375px) {
  .abouttext {
    padding: 50px 37px 50px 41px;
  }
}
/* If screen size is more than 376px wide, or more*/
@media screen and (min-width: 376px) {
  .abouttext {
    padding: 50px 100px 50px 84px;
  }
}
/* If screen size is more than 1366px wide, or more*/
@media screen and (min-width: 1366px) {
  .abouttext {
    padding: 50px 600px 50px 84px;
  }
}

/* footer */

.footer {
  border-top: 0px solid rgb(241, 241, 241);
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: -1;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 45;
  z-index: 3;
  }
.footertext {
  font-size: small;
  -webkit-font-smoothing: antialiased;
}
.buttons {
  position: relative;
  margin-top: -25px;
  font-size: 35px;
  display: inline-flex;
}
.fa {
  color: dimgrey;
  text-decoration: none;
}
.styling {
  justify-content: space-between;
  padding: 14px 10px 0px;
  margin-right: 9%;
  margin-left: 10%;
  display: flex;
}

/* new */

body {
    color: #222;
    background-color: rgb(255, 255, 255);
    font-family: 'proxima-nova';
    line-height: 1.5;
    margin-bottom: 45px;
}
  
  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 70px;
    overflow: hidden;
  }
  
  .text-large {
    font-size: 18px;
  }
  
  .text-small {
    font-size: 12px;
  }
  
  .opaque {
    opacity: 0.6;
  }