/* put in here things that effect everything */

.plm, .pvs {
    padding-left: 10px;
    padding-top: 20px;
}

.footer {
    border-top: 1px solid #494C4E;
    background-color: rgb(241, 241, 241);
    position: fixed;
    bottom: 2;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }