.links {
    text-align: center;
}
.link {
    color: #999;
    font-variant-caps: all-petite-caps;
}

.header {
    font-size: -webkit-xxx-large;
    font-variant-caps: all-petite-caps;
    text-align: center;
}