.links {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 40;
    border-bottom: inset;
}
.link {
    margin-left: 20px;
    color: #999;
    text-decoration: none;
    font-variant-caps: all-petite-caps;
}
.headerandlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    font-size: -webkit-xxx-large;
    font-variant-caps: all-petite-caps;
    padding-left: 380;
    padding-top: 50;
}
